# env.example
POSTGRES_DB=scasc_db
POSTGRES_USER=scasc_user
POSTGRES_PASSWORD=password
QDRANT_URL=http://qdrant:6333
REDIS_URL=redis://redis:6379/0
GOOGLE_API_KEY=_api_key
LLAMA_CLOUD_API_KEY=_api_key