aiofiles
bcrypt==4.0.1
cryptography
fastapi
httpx
jinja2
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-qdrant
llama-cloud-services
passlib
pypdf
pytest
pytest-asyncio
python-dotenv
python-jose
python-multipart
PyMySQL
psycopg2-binary
qdrant-client
sentence_transformers
SQLAlchemy
torch
transformers
uvicorn
redis
celery